.searchform-container {
    display: none;
}

.navbar-brand-container {
    max-width: 50% !important;
    flex: none !important;
    height: fit-content;
    position: absolute !important;
}

.navbar-brand-container .navbar-brand {
	height: auto !important; 
}

.navbar-container {
	max-width: 100% !important;
    flex: none !important;
}


.navbar {
    margin-right: 12px;
}

.navbar .navbar-inner-container {
	padding-top: 30px;
	padding-bottom: 30px;
	height: auto;
    width: 100%;
}

.navbar .navbar-inner-container .navbar-toggler {
	height: 57px;
    width: 57px;
	float: right;
}

.navbar .navbar-inner-container .navbar-collapse {
	clear: both;
    padding-top: 40px;
}

.navbar .navbar-inner-container .navbar-collapse .navbar-nav {
	margin-left: 0px !important;
}

.navbar .navbar-inner-container .navbar-collapse .navbar-nav .parent a {
	font-size: 25px;
}

.navbar .navbar-inner-container .navbar-collapse .dropdown-content {
    width: 100%;
}

/* Banner image on home page */
/* Makes the Banner container an aspect ratio of 1:1 (width always the size of the page) */
.header-container #textoverimage {
	width: 100%;
    padding-top: 100%;
}
/* a tag conforms to the size of the banner container */
.header-container #textoverimage > a {
	position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
/* img-fluid class conforms to the size of the banner container */
.header-container #textoverimage > a .img-fluid {
    object-fit: cover;
    width: 100%;
    height: 100%;
}