.dropdown:hover .dropdown-content {display: block;}

a#logo {
    max-width: 16em;
    height: 136px;
    margin-top: -50px;
}

MrEavesh5 {
     font-size: 14px;
     font-family: "Mr Eaves Mod Heavy" !important;
     font-weight: bold;
}

#listPageRecipeImg{
    margin-left:10px;
}

productNIP {
    margin-left: auto;
    margin-right: auto;
}

.recipes-img-product img.img-fluid {
    width: 44%;
}

.offset-md-custom {
    padding-left: 90px;
}

#recipe {
    max-width: 44%;
    padding-left: 0px;
    padding-right: 0px;
}

.faq-container .container .faq-border {
	padding-right:20px; border-right: 1px solid #1F2C63;
}

.site-map p {
    height: 15px;
    line-height: 15px;
}

.d-flex-column-reverse {
    flex-direction: column-reverse!important;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.main {
    min-height: 72%;
}
